.contact {
  @import '../includes/two-col';

  &__form-container {
    background: var(--bg-pg);
    padding: 1rem 2rem 2rem;
    margin-bottom: 4rem;
    border-radius: 15px;

    @include respond(tab-land) {
      margin-top: 3rem;
      padding: 3rem;
    }
  }

  &__form-field {
    margin-bottom: 4rem;

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &__form-label {
    color: var(--color-form-label);
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
  }

  &__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    letter-spacing: 0px;
    border-radius: 5px;
    background: rgba(rgb(240, 240, 240), 1);


    /* Code for Modern Browsers */
    &::placeholder {
      color: #999;
      font-weight: 600;
    }

    /* Code for WebKit, Blink, Edge */
    &::-webkit-input-placeholder {
      color: #999;
      font-weight: 600;
    }

    /* Code for Internet Explorer 10-11 */
    &:-ms-input-placeholder {
      color: #999;
      font-weight: 600;
    }

    /* Code for Microsoft Edge */
    &::-ms-input-placeholder {
      color: #999;
      font-weight: 600;
    }

    /* Code for Mozilla Firefox 4 to 18 */
    &:-moz-placeholder {
      opacity: 1;
      color: #999;
    }

    /* Code for Mozilla Firefox 19+ */
    &::-moz-placeholder {
      opacity: 1;
      color: #999;
    }
  }

  &__btn {
    width: 30%;
    border-radius: 5px;
    padding: 1.5rem 1.5rem;
    font-size: 1.6rem;

    @include respond(tab-land) {
      width: 100%;
    }
  }
}