---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="صفحه اصلی | محمد مجتبی سیف اللهی"
	desc="این وب سایت شامل پروژه ها، تمرینات و بلاگ شخصی و همچنین لینک های ارتباطی با من می باشد"
>
	<section id="about" class="about container">
		<div class="about__img">
			<img
				width="320"
				height="320"
				class="about__img-me"
				src="/img/me.jpg"
				alt="محمد مجتبی سیف اللهی"
			/>
		</div>
		<div class="about__content ph-2 ph-ph-0">
			<h2>وب سایت شخصی محمد مجتبی سیف اللهی</h2>
			<p class="pa-1">
سلام به وب سایت من خوش اومدید! من محمد مجتبی سیف اللهی هستم و در این وب سایت قصد دارم تجربیات و شاید بخشی از تفکرات خودم رو در زمینه ها یی که تجربه می کنم یا یاد می گیرم انتقال و ارائه بدم از این که دقایقی رو اینجا با من سپری می کنید سپاسگذارم
			</p>
		</div>
	</section>
</BaseLayout>
