---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="پروژه ها | محمد مجتبی سیف اللهی"
  desc="می توانید از این صفحه پروژه های من را دنبال کنید!"
>
  <section class="projects container">
    <div class="projects__content">
      <h2>پروژه ها:</h2>
    </div>
  </section>
</BaseLayout>
