<footer class="main-footer">
  <div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__social-cont">
        <a
          target="_blank"
          rel="noreferrer"
          href="https://linkedin.com/in/mohammad-mojtaba-seifollahy-b68638255"
        >
          <img
            width="40"
            class="main-footer__icon"
            src="/icons/linkedin-ico.png"
            alt="icon"
          />
        </a>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://github.com/mm-seifollahy"
        >
          <img
            width="40"
            class="main-footer__icon"
            src="/icons/github-ico.png"
            alt="icon"
          />
        </a>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://twitter.com/_seifollahy"
        >
          <img
            width="40"
            class="main-footer__icon"
            src="/icons/twitter-ico.png"
            alt="icon"
          />
        </a>
        <!-- <a target="_blank" rel="noreferrer" href="#">
          <img class="main-footer__icon" src="./icons/yt-ico.png" alt="icon" />
        </a>
        <a target="_blank" rel="noreferrer" href="#">
          <img
            class="main-footer__icon main-footer__icon--mr-none"
            src="/icons/insta-ico.png"
            alt="icon"
          />
        </a> -->
      </div>
    </div>

    <div class="main-footer__lower">
      &copy; Copyright 2022. Made by
      <a rel="noreferrer" target="_blank" href="https://seifollahy.com"
        >M. M. Seifollahy</a
      >
    </div>
  </div>
</footer>
