---
import HamMenu from "./HamMenu.astro";
import LightBulb from "./LightBulb.astro";
import Navigation from "./Navigation.astro";
---

<header class="header">
  <div class="header__content">
    <HamMenu />
    <LightBulb />
    <Navigation />
  </div>
</header>
