<nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-li">
      <a href="/">صفحه اصلی</a>
    </li>
    <li class="header__nav-li">
      <a href="/projects">پروژه ها</a>
    </li>
    <li class="header__nav-li">
      <a href="/contact-me">تماس با من</a>
    </li>
  </ul>
</nav>

<nav class="header__nav-sm">
  <div class="header__nav-sm-content">
    <ul class="header__nav-sm-ul">
      <li class="header__nav-sm-li">
        <a href="/"> صفحه اصلی</a>
      </li>

      <li class="header__nav-sm-li">
        <a href="/projects"> پروژه ها</a>
      </li>

      <li class="header__nav-sm-li">
        <a href="/contact-me"> تماس با من</a>
      </li>
    </ul>
  </div>
</nav>
